@model SahajSewa.Models.ViewModels.LicenseRegistrationVM
@{
    ViewData["Title"] = "Create";
}
    <link rel="stylesheet" href="~/css/MultiStepForm.css" />




<div class="container">
    <div class="card">
        <form method="post" enctype="multipart/form-data">
        <div class="top-side">
            <ul class="progres-bar row">
                <li class="active col-3">General Details</li>
                <li class="col-3">Address Details</li>
                <li class="col-3">Citizenship Details</li>
                <li class="col-3">Documents Upload</li>
            </ul>
        </div>

        <div class="bottom-side col-12 mx-auto">
                <input asp-for="LicenseRegistration.Id" hidden />
                <input asp-for="LicenseRegistration.Photo" hidden />
                <input asp-for="LicenseRegistration.CitizenFront" hidden />
                <input asp-for="LicenseRegistration.CitizenBack" hidden />
                <input asp-for="LicenseRegistration.Signature" hidden />
                <input asp-for="LicenseRegistration.Thumb" hidden />

                <div class="main activate">
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Fname"></label>
                        <input asp-for="LicenseRegistration.Fname" />
                        <span asp-validation-for="LicenseRegistration.Fname" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Mname"></label>
                        <input asp-for="LicenseRegistration.Mname" />
                        <span asp-validation-for="LicenseRegistration.Mname" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Lname"></label>
                        <input asp-for="LicenseRegistration.Lname" />
                        <span asp-validation-for="LicenseRegistration.Lname" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Gname"></label>
                        <input asp-for="LicenseRegistration.Gname" />
                        <span asp-validation-for="LicenseRegistration.Gname" class="text-danger"></span>
                    </div>

                        <input type="button" name="Back" value="Back To Home" class="back_home btn btn-secondary"/>
                        <input type="button" name="Next" value="Next" class="next_button btn btn-primary"/>

                        
                </div>

                 <div class="main">
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Pward"></label>
                        <input asp-for="LicenseRegistration.Pward" />
                        <span asp-validation-for="LicenseRegistration.Pward" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Ptole"></label>
                        <input asp-for="LicenseRegistration.Ptole" />
                        <span asp-validation-for="LicenseRegistration.Ptole" class="text-danger"></span>
                    </div>

                        
                        <input type="button" name="Previous" value="Previous" class="back_button btn btn-secondary"/>
                        <input type="button" name="Next" value="Next" class="next_button btn btn-primary"/>
                        
                </div>

                 <div class="main">
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Bgroup"></label>
                        <input asp-for="LicenseRegistration.Bgroup" />
                        <span asp-validation-for="LicenseRegistration.Bgroup" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.TrailCount"></label>
                        <input asp-for="LicenseRegistration.TrailCount" />
                        <span asp-validation-for="LicenseRegistration.TrailCount" class="text-danger"></span>
                    </div>
                    
                        <input type="button" name="Previous" value="Previous" class="back_button btn btn-secondary"/>
                        <input type="button" name="Next" value="Next" class="next_button btn btn-primary"/>
                        
                </div>

                 <div class="main">
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Tward"></label>
                        <input asp-for="LicenseRegistration.Tward" />
                        <span asp-validation-for="LicenseRegistration.Tward" class="text-danger"></span>
                    </div>
                    <div class="form-elem mb-3">
                        <label asp-for="LicenseRegistration.Ttole"></label>
                        <input asp-for="LicenseRegistration.Ttole" />
                        <span asp-validation-for="LicenseRegistration.Ttole" class="text-danger"></span>
                    </div>

                        <input type="button" name="Previous" value="Previous" class="back_button btn btn-secondary"/>
                        <input type="submit" name="Submit" value="Submit" class="submit_button btn btn-success"/>
                        
                </div>
            
        </div>
        
    </form>
    </div>
</div>


    <script src="~/js/MultiStepForm.js"></script>


