
/*Top side*/

.top-side {
    height: 35%;
    width: 100%;
    background-color: #137ea7;
    box-sizing: border-box;
}

.progres-bar{
    list-style:none;
    display:grid;
    grid-template-columns:auto auto auto auto auto;
    padding:0 5px;
    font-size:14px;
    font-weight:700;
    counter-reset: container 0;
}

    .progres-bar li {
        text-align: center;
        position: relative;
        margin-top: 50px;
        counter-increment: container 1;
        color: #fff;
    }

        .progres-bar li::before {
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 30px;
            width: 30px;
            border: 2px solid #fff;
            border-radius: 50%;
            left: 45%;
            top: -35px;
            z-index: 10;
            background-color: #137ea7;
        }

        .progres-bar li::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 95%;
            background-color: #fff;
            z-index: 1;
            right: 50%;
            top: -20px;
        }

        .progres-bar li.active {
            color: #02b875;
        }
            .progres-bar li.active::before {
                color: #02b875;
                border: 2px solid #02b875;
            }
            .progres-bar li.active::after {
                background-color: #02b875;
            }
    .progres-bar li:first-child:after{
        display:none;
    }
    
    /*Top-side End*/


    /*Bottom-Side start*/
    
    .main{
        display:none;
    }

    .activate{
        display:block;
        margin:10px auto;
    }
 
    label{
        font-weight:700;
        margin:20px auto 5px;
    }
    
    .warning{
        border:1px solid red !important;
    }
    