
/*Top side*/

.top-side {
    height: 35%;
    width: 100%;
    background-color: #137ea7;
    box-sizing: border-box;
}

.progres-bar{
    list-style:none;
    padding:0 5px;
    font-size:13px;
    font-weight:700;
    counter-reset: container 0;
}

    .progres-bar li {
        text-align: center;
        position: relative;
        margin-top: 50px;
        counter-increment: container 1;
        color: #233451;
    }

        .progres-bar li::before {
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 25px;
            width: 25px;
            border: 1px solid #233451;
            border-radius: 50%;
            left: 45%;
            top: -35px;
            z-index: 10;
            background-color: #137ea7;
        }

        .progres-bar li::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #233451;
            z-index: 1;
            left: 50%;
            top: -25px;
        }

    .progres-bar li.active {
        color: #fff;
    }
        .progres-bar li.active::before {
          color: #fff;
          border:1px solid #fff;
        }
    .progres-bar li.active::after{
        background-color:#fff;
    }
    .progres-bar li:last-child:after{
        display:none;
    }
    
    /*Top-side End*/


    /*Bottom-Side start*/
    
    .main{
        display:none;
    }
 
    .activate{
        margin:20px auto;
        display:grid;
        grid-template-columns: auto auto;
        grid-column-gap:10%;
        text-align:center;
    }

    .form-elem{
        margin:0 10% 10px 10%;
    }

    .back_button,.submit-button,.next_button,.back_home{
        width:150px;
        margin:30px auto 0;

    }


    
    