@{
    ViewData["Title"] = "Home Page";
}


@* <div role="toolbar" class="row">
       <div role="group" class="col-3 text-center">
            <a href="#" class="nav-link active">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" style="font-size:10px">1</text>
               </svg>
                <hr />
                General Details
            </a>
        </div>
        <div role="group" class="col-3 text-center">
            <a href="#" class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" style="font-size:10px">2</text>
                </svg>
                <hr />
                Address Details
            </a>
        </div>
        <div role="group" class="col-3 text-center">
            <a href="#" class=" nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" style="font-size:10px">3</text>
                </svg>
                <hr />
                Citizenship Details
            </a>
        </div>
        <div role="group" class="col-3 text-center">
            <a href="#" class=" nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" style="font-size:10px">4</text>
                </svg>
                <hr />
                Upload Documents
            </a>
        </div>
    </div>
*@
<div class=" mt-5 d-flex justify-content-center">
<div class="card bg-light mb-3" style="max-width: 30rem;">
    <div class="card-header text-center fw-bold fs-4">Digital License Management System</div>
    <div class="card-body">
        <p class="card-text">
            <ul class="list-group mx-3">
                <li class="btn btn-primary mb-3 ">
                    <a class="text-decoration-none text-light" href="#">License Registration</a>
                </li>
                <li class="btn btn-primary my-3">
                    <a class="text-decoration-none text-light" href="#">Re-Trail</a>
                </li>
                <li class="btn btn-primary my-3">
                    <a class="text-decoration-none text-light" href="#">Add Passport</a>
                </li>
                <li class="btn btn-primary my-3">
                    <a class="text-decoration-none text-light" href="#">Add License</a>
                </li>
                <li class="btn btn-primary mt-3 mb-2">
                    <a href="#" class="text-decoration-none text-light">Add Category</a>
                </li>
            </ul>
        </p>
    </div>
</div>
</div>
