@model SahajSewa.Models.ViewModels.IndexVM
@{
    ViewData["Title"] = "Home Page";
}


<div class="card my-4 mx-auto col-10">
    <div class="card-header text-center text-light bg-primary fw-bold fs-4">Digital License Management System</div>
    <div class="card-body row mx-auto justify-content-around">
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260"  asp-controller="LicenseRegistration"
        asp-action="Upsert">
            <div class="card-body">
                <img height="100"  src="~/images/Home/LicenseRegistration.png" />
                
            </div>
            <div class="card-footer text-center">
                    License Registration
                </div>
        </a>
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260"  asp-controller="LicenseRegistration"
        asp-action="DownloadFile" asp-route-id="@Model.LicenseRegistration.Id">
            <div class="card-body">
                <img height="100"  src="~/images/Home/Detail.png" />
            </div>
            <div class="card-footer text-center">
                    Application Details
                </div>
        </a>
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260" asp-controller="LicenseRegistration" asp-action="Retrail" asp-route-id="@Model.LicenseRegistration.Id">
            <div class="card-body">
                <img height="100"  src="~/images/Home/Retrail.png" />
            </div>
            <div class="card-footer text-center">
                    Re-Trail
                </div>
        </a>
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260" asp-controller="AddCategory" asp-action="Insert">
            <div class="card-body">
                <img height="100" src="~/images/Home/AddCategory.png" />  
            </div>
             <div class="card-footer text-center">
                    Add Category
                </div>
        </a>
       
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260" asp-controller="License" asp-action="Upsert">
            <div class="card-body">
                <img height="100"  src="~/images/Home/License.png" />
            </div>
             <div class="card-footer text-center">
                    Add License
                </div>
        </a>
        <a class="card btn btn-secondary p-0 my-3 mx-2 col-8 col-md-5 col-xl-3" style="width:260" asp-controller="Passport" asp-action="Insert">
            <div class="card-body">
                <img height="100" src="~/images/Home/Passport.png" />
            </div>
            <div class="card-footer text-center">
                    Add Passport
                </div>
        </a>
    </div>
</div>

<script type="text/javascript">
var objModel = @Html.Raw(Json.Serialize(Model));

//retrail
    if (!((objModel.licenseRegistration.trailResult == "fail" || objModel.licenseRegistration.trailResult == "absent") && objModel.licenseRegistration.trailCount < 3)) {
        var item = document.querySelector("a[href='/Users/LicenseRegistration/Retrail/"+objModel.licenseRegistration.id+"']");
    item.classList.add('disabled');
}
//licenseRegistration
    if (!(objModel.license.id == 0 && (objModel.licenseRegistration.id == 0 || objModel.licenseRegistration.writtenResult == "fail" || objModel.licenseRegistration.writtenResult == "absent" || (objModel.licenseRegistration.trailCount == 3 && (objModel.licenseRegistration.trailResult == "fail" || objModel.licenseRegistration.trailResult == "absent"))))) {
    var item = document.querySelector("a[href='/Users/LicenseRegistration/Upsert']");
    item.classList.add('disabled');
}
//applicationDetails
    if (!(objModel.licenseRegistration.id != 0 && objModel.licenseRegistration.writtenResult != "fail" && objModel.licenseRegistration.writtenResult != "absent" && objModel.licenseRegistration.trailResult == null)) {
    var item = document.querySelector("a[href='/Users/LicenseRegistration/DownloadFile/"+objModel.licenseRegistration.id+"']");
    item.classList.add('disabled');
}        
//addCategory
    if (!(objModel.licenseRegistration.trailResult == "pass" || (objModel.license.id != 0 && objModel.licenseRegistration.id == 0) || (objModel.licenseRegistration.trailCount == 3 && (objModel.licenseRegistration.trailResult == "fail" || objModel.licenseRegistration.trailResult == "absent") && objModel.license.id != 0))) {
    var item = document.querySelector("a[href='/Users/AddCategory/Insert']");
    item.classList.add('disabled');
}

    if (!(objModel.license.id == 0) || (objModel.licenseRegistration.id != 0 && objModel.licenseRegistration.writtenResult != "fail" && objModel.licenseRegistration.writtenResult != "absent" && objModel.licenseRegistration.trailResult == null) || ((objModel.licenseRegistration.trailResult == "fail" || objModel.licenseRegistration.trailResult == "absent") && objModel.licenseRegistration.trailCount < 3)) {
    var item=document.querySelector("a[href='/Users/License/Upsert']");
    item.classList.add('disabled');
}
    if (!(objModel.passport.id == 0)) {
        var item = document.querySelector("a[href='/Users/Passport/Insert']");
        item.classList.add('disabled');
    }
</script>