@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the project for 6th sem name Sahaj Sewa featuring License management System</p>
</div>
